{{ define "index.html" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ .Title }}@{{ .Hostname }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="?static=css" type="text/css">
		<script src="?static=js"></script>
		<link rel="icon" href="?static=ico" type="image/x-icon">
		<style id="styleCss"></style>
	</head>
<body>
	<header class="menu" id="search">
		<div>
			<h3 style="cursor: pointer;" onclick="GoToRawQuery('');">ManWeb @{{ .Hostname }}</h3>
		</div>
		<form class="rounded" method="post">
			<input type="text" class="txt" name="q" autocomplete="off" >
			<input type="submit" class="submit" value="Search">
		</form>
		<div class="rounded">
			<button onclick="GoToRawQuery('manweb:help')">Help</button>
			<button onclick="Menu(H(this).l)">Settings</button>
		</div>
		<script>
			document.querySelector('input[name="q"]').value = `{{ .Query }}`;
		</script>
	</header>
	<header class="settings menu hidden" id="settings">
		<div>
			<h3>Settings</h3>
		</div>
		<div>
			<h3>Theme</h3>
			<div class="rounded">
				<button>Dark</button>
				<button>Light</button>
				<button>Warm</button>
			</div>
		</div>
		<div>
			<h3>Contrast</h3>
			<div class="rounded">
				<button>Low</button>
				<button>Medium</button>
				<button>High</button>
			</div>
		</div>
		<div>
			<h3>Scale</h3>
			<div class="rounded">
				<button>-</button>
				<label id="scaleVal">100%</label>
				<button>+</button>
			</div>
		</div>
		<div>
			<div class="rounded">
				<button onclick="ResetStyle()">Reset</button>
				<button onclick="Menu()">Close</button>
			</div>
		</div>
	</header>
	<main id="main-content">
		{{ .Content }}
	</main>
	</body>
</html>
{{ end }}