[Unit]
Description=front end service for parsing man into html over http
After=network.target

[Service]
ExecStart=/usr/bin/manhttpd /etc/manhttpd/manhttpd.conf

WorkingDirectory=/var/lib/manhttpd
Type=simple

User=manhttpd
Group=manhttpd

[Install]
WantedBy=multi-user.target
