[Unit]
Description=manhttpd - HTTP server for serving manual pages
After=network.target

[Service]
ExecStart=/usr/bin/manhttpd

WorkingDirectory=/var/lib/manhttpd
Type=simple

User=manhttpd
Group=manhttpd

[Install]
WantedBy=multi-user.target
