[Unit]
Description=manweb - HTTP server for serving manual pages
After=network.target

[Service]
ExecStart=/usr/bin/manweb

WorkingDirectory=/var/lib/manweb
Type=simple

Restart=on-failure
RestartSec=3

User=manweb
Group=manweb

[Install]
WantedBy=multi-user.target
